@import "bootstrap";
@import 'normalize';
@import 'utilities';

$black: black;
$white: white;

$primary: #2c5a8a;
$success: #90deb3;
$light-primary: #4385cd;
$info: #17a2b8;
$stats: #d2d2d2;
$table-rows: #8beaff;
$light-purple: #aeaeff;
$grey: #2460a0;

.bg-primary {
  background-color: $primary !important;
}

body {
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 1.7rem;
  color: rgb(75, 75, 75);
  margin-bottom: 0;
  text-align: center;
}

.container {
  max-width: 90%;
}

// Sticky Footer
.body {
  flex: 1;
}

.white-link {
  color: white;
  &:hover {
    color: grey
  }

  margin-right: 30px;
}

.footer-layout {
  position: fixed;
  bottom: 0;
  background: $primary;
  width: 100%;
}

.navbar {
  border-radius: 0px;
}

.navbar-text {
  color: white;
}

.footer {
  font-size: 0.8rem;
}
// Sticky Footer End

.panel {
  background-color: $primary;
  color: $white;
  border-radius: 10px;
}

.table-wrapper{
  border-radius: 15px;
  overflow: auto;

  background: $stats;
  // box-shadow: 0px 35px 50px rgba(35, 0, 191, 0.742);
}

.stats {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.table {
  background-color: $primary;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.table td, .table th, .table thead th {
  border: none;
  vertical-align: middle;
}

.thead-primary th {
  background-color: $primary;
  color: $white;
}

.table tr:nth-child(even) {
  color: $white;
}

.table tr:nth-child(odd) {
  background-color: $table-rows;
}

.list-rolls {
  background-color: rgb(210, 210, 210);
  color: $white;
  margin: 10px;
  padding: 10px;
  overflow: scroll;
  height: 115px;
  width: 80%
}

.list-rolls::-webkit-scrollbar { width: 0 !important }

.undo-roll {
  white-space: normal;
  width: 25%;
  margin: 10px;
}

.chart {
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: $white;
}

.col-md-5 {
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}

p.roll-message {
  margin: 0;
  font-size: .8rem;
}

.game-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.game-panel {
  width: 200px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.game-title {
  font-size: 1rem;
  color: rgb(75, 75, 75);
}

img.new-game {
  width: 40px;
  margin-bottom: 0;
  margin-top: 15px;
  margin-left: 10px;
}

.btn-outline-primary {
  border: solid $primary;
  color: $primary;

  &:hover {
    border: solid $primary;
    background-color: $primary;
    color: white;
  }
}

.btn-outline-success {
  border: solid $success;
  color: $success;

  &:hover {
    border: solid $success;
    background-color: $success;
    color: white;
  }
}

#process-roll {
  width: 60px;
}

.small-container {
  margin: auto;
  width: 50%;
}


@media only screen and (max-width: 770px) {
  body {
    .player-dropdown {
      width: 70%;
      margin: 5px auto 5px auto;
    }

    .number-dropdown {
      width: 70%;
      margin: 5px auto 5px auto;
    }
  }
}
