@import "bootstrap";
@import 'normalize';
@import 'utilities';
@import 'jeopardy';

$black: black;
$white: white;

$primary: #2c5a8a;
$success: #90deb3;
$danger: #d55555;
$light-primary: #4385cd;
$info: #17a2b8;
$stats: #d2d2d2;
$table-rows: #8beaff;
$light-purple: #aeaeff;
$grey: #575757;

.bg-primary {
  background-color: $primary !important;
}

body {
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 1.7rem !important;
  color: rgb(75, 75, 75) !important;
  margin-bottom: 0 !important;
  text-align: center;
}

.container {
  max-width: 90%;
}

.card-body {
  padding: 1rem;
}

// Sticky Footer
.body {
  flex: 1;
}

.white-link {
  color: white;
  &:hover {
    color: grey
  }

  margin-right: 30px;
}

.footer-layout {
  position: fixed;
  bottom: 0;
  background: $primary;
  width: 100%;
}

.navbar {
  border-radius: 0px;
}

.navbar-text {
  color: white;
}

.footer {
  font-size: 0.8rem;
}
// Sticky Footer End

.panel {
  background-color: $primary;
  color: $white;
  border-radius: 10px;
}

.table-wrapper{
  border-radius: 15px;
  overflow: auto;

  background: $stats;
  // box-shadow: 0px 35px 50px rgba(35, 0, 191, 0.742);
}

.stats {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.table {
  background-color: $primary;
}

.roll-status-container {
  display: flex;
  justify-content: space-between;
}

.roll-status-label {
  margin: 0;
}

.roll-status {
  display: flex;
  justify-content: center;
  background: none;
  color: white;
  align-items: center;
  border: solid $light-primary;
  border-radius: 4px;
  width: 100%;
  height: 35px;
}

.refresh-icon {
  width: 20px;
  margin-left: 10px;
  margin-top: 3px;
  height: 18px;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.table td, .table th, .table thead th {
  border: none;
  vertical-align: middle;
}

.thead-primary th {
  background-color: $primary;
  color: $white;
}

.table tr:nth-child(even) {
  color: $white;
}

.table tr:nth-child(odd) {
  background-color: $table-rows;
}

.list-rolls {
  background-color: rgb(255, 255, 255);
  color: $grey;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  overflow: scroll;
  height: 115px;
  width: 500px;
}

.list-rolls::-webkit-scrollbar { width: 0 !important }

.undo-roll {
  white-space: normal;
  width: 25%;
  margin: 10px;
}

.chart {
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: $white;
}

.col-md-5 {
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}

p.roll-message {
  margin: 0;
  font-size: .8rem;
}

.game-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  background: #efefef;
  border-radius: 6px;
  padding: 15px;
  margin: 5px;
  min-height: 5rem;
}

.game-panel {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.game-title {
  font-size: 1rem;
  color: rgb(75, 75, 75);
}

img.new-game {
  width: 40px;
  margin-bottom: 0;
  margin-top: 15px;
  margin-left: 10px;
}

.btn {
  border-width: 2px;
}

.add-player-box {
  display: flex;
  width: 50%;
  float: right;
  margin: 0 10px 10px 10px;
}

.btn-outline-primary {
  border-color: $primary;
  color: $primary;

  &:hover {
    border-color: $primary;
    background-color: $primary;
    color: white;
  }
}

.btn-outline-success {
  border-color: $success;
  color: $success;

  &:hover {
    border-color: $success;
    background-color: $success;
    color: white;
  }
}

.btn-outline-danger {
  border-color: $danger;
  color: $danger;

  &:hover {
    border-color: $danger;
    background-color: $danger;
    color: white;
  }
}

#process-roll {
  padding-left: 30px;
  padding-right: 30px;
}

.process-roll-container {
  display: flex;
  justify-content: center;
}

.small-container {
  margin: auto;
  width: 50%;
}


@media only screen and (max-width: 770px) {
  #process-roll {
    padding-left: 100px;
    padding-right: 110px;
  }

  .process-roll-container {
    margin: auto;
  }

  .player-dropdown {
    margin: 5px;
  }

  .number-dropdown {
    margin: 5px;
  }
}
